.button {
  background: transparent;
  border: 0;
  padding: 0.75rem;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: inherit;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s ease-in-out;

  &:hover {
    color: var(--c-primary);
  }

  &:focus {
    outline: none;
  }
}
