:root {
  --mw: 50rem;
}

body.light {
  --c-primary: #da3654;
  --c-secondary: #ffffff;
  --c-background: #f8f7fc;
  --c-text: #0c0c0d;
  --c-text-muted: rgba(12, 12, 13, 0.65);
}

body.dark {
  --c-primary: #da3654;
  --c-secondary: #1e1528;
  --c-background: #110719;
  --c-text: rgba(255, 255, 255, 0.9);
  --c-text-muted: rgba(255, 255, 255, 0.65);
}
