.logo {
  display: flex;
  align-items: center;

  &:hover {
    .oval {
      transform: translateX(-50%) translateY(-50%) rotate(180deg);
    }
  }
}

.avatar {
  display: none;
  margin-right: 1rem;
  position: relative;
  width: 48px;
  height: 48px;

  @media (min-width: 576px) {
    display: flex;
  }
}

.image {
  border-radius: 50%;
  overflow: hidden;
  width: 48px;
  height: 48px;
}

.oval {
  position: absolute;
  left: 50%;
  top: 50%;
  transition: all 0.3s ease-in-out 0.3s;
  transform: translateX(-50%) translateY(-50%) rotate(0deg);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  svg {
    width: 57px;
    height: 57px;
    color: var(--c-primary);
  }
}

.title {
  display: flex;
  flex-direction: column;

  span {
    font-family: "Lora", serif;
    color: var(--c-text-muted);
  }
}
