.logo {
  display: flex;
  align-items: center;
}

.image {
  border-radius: 50%;
  overflow: hidden;
  width: 48px;
  height: 48px;
  div {
    transition: all 0.3s ease-in-out 0.3s;
  }
}

.title {
  display: flex;
  flex-direction: column;

  span {
    font-family: "Lora", serif;
    color: var(--c-text-muted);
    font-size: 0.95rem;
  }
}
