.container {
  max-width: 50rem;
}

.hero {
  .title {
    span {
      background-color: var(--c-primary);
      background-image: linear-gradient(
        90deg,
        var(--c-primary),
        #bc027f,
        #f67300
      );
      background-size: 100%;
      background-clip: text;
      -webkit-background-clip: text;
      -moz-background-clip: text;
      -webkit-text-fill-color: transparent;
      -moz-text-fill-color: transparent;
    }
  }
}

.section {
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 1.2rem;
}

.list {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 0;
  list-style: none;
  display: flex;
  flex-flow: row nowrap;

  &:last-of-type {
    margin-bottom: 2rem;
  }

  li + li {
    margin-left: 2rem;
  }

  .date {
    color: var(--c-text-muted);
  }
}

.emptyState {
  color: var(--c-text-muted);
}
